name: i686_linux_clang

on: [push, pull_request]

jobs:

  i686_linux_clang:
    runs-on: ubuntu-18.04
    env:
      CC: clang
    steps:
    - uses: actions/checkout@v2
    - name: Retrieve test compression corpus
      run: |
        git clone https://github.com/ariya/compression-corpus.git
        cd compression-corpus
        cd enwik
        unzip enwik8.zip
    - run: sudo apt install -y make clang gcc-multilib qemu-user
    - run: clang --version
    - name: Perform round-trip tests
      run: |
        cd tests
        make test_roundtrip CFLAGS="-static -m32"
        file ./test_roundtrip
        qemu-i386 ./test_roundtrip
    - name: 'Build and run example: 6pack and 6unpack'
      run: |
        cd examples
        make CFLAGS="-static -m32"
        qemu-i386 ./6pack -v
        qemu-i386 ./6pack ../compression-corpus/enwik/enwik8.txt archive.6pk
        qemu-i386 ./6unpack -v
        qemu-i386 ./6unpack archive.6pk
